.MoviePage {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../../assets/landing.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    color: white;
}

.layer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.295);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 70px;
  }

.movieTitle {
    font-size: 24px;
    margin-top: 0px;
}

.player {
    margin-top: 10px;
}

.player, .videoSource {
    max-width: 96vw;
    margin-left: auto;
    margin-right: auto;
}

.bottomStuff {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.commentSection {
    width: 50vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.466);
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-radius: 10px;
    margin-left: 20px;
    float: left;
}

.infoSection {
    padding: 20px 20px;
    text-align: left;
    width: 44vw;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    border: 1px solid rgba(255, 255, 255, 0.274);
}

.infoPoster {
    width: 280px;
    padding-bottom: 20px;
}

.topBox {
    display: flex;
}

.rightSide {
    padding-left: 20px;
}

.movieSecondary {
    font-weight: 200;
    margin-bottom: 0;
}