.MoviePage {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../../assets/landing.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    color: white;
}

.layer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.295);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 70px;
  }

.movieTitle {
    font-size: 24px;
    margin-top: 30px;
}

.player {
    margin-top: 30px;
}

.bottomStuff {
    display: inline-block;
}

.commentSection {
    width: 35vw;
    height: 30vh;
    background-color: rgba(102, 65, 65, 0);
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 3px;
    color: white;
    float: left;
}

.infoSection {
    width: 35vw;
    height: 30vh;
    background-color: rgba(102, 65, 65, 0);
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 3px;
    color: white;
}