/* Regular button */

.btn-regular {
  background-color: red;
  margin: 0px 10px;
}

.btn-regular:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

/* Big buttons */

.btn-big {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 350px;
  height: 120px;
  font-size: 30px;
  font-weight: 200;
}

.btn-big-icon {
  margin-left: 20px;
  font-size: 50px;
}

/* Responsive */

@media only screen and (max-width: 600px) {
  .btn-big {
    width: 250px;
    height: 85px;
    font-size: 20px;
    font-weight: 200;
  }

  .btn-big-icon {
    margin-left: 15px;
    font-size: 35px;
  }
}
