.both {
    margin-top: -16px;
    margin-left: 11px;
}

.browser-default {
    height: 37px;
    width: 92px;
    background-color: rgba(102, 65, 65, 0);
    border: 1px solid white;
    border-radius: 1px;
    color: white;
    cursor: pointer;
}