.all {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.browser-default {
    height: 37px;
    width: 92px;
    background-color: rgba(102, 65, 65, 0);
    border: 1px solid white;
    border-radius: 1px;
    color: white;
    cursor: pointer;
}

.RatingRange,  .YearRange {
    padding-right: 30px;
}

label {
    font-size: 15.5px;
    color: white;
}