.SearchView {
    text-align: center;
    position: absolute;
  height: 100%;
  width: 100%;
  background: url("../../assets/landing.jpg");
  background-color: rgba(0, 0, 0, 0.404);
  background-size: cover;
  color: white;
  
  }

  .layer {
    background-color: rgba(0, 0, 0, 0.295);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .spinner {
    height: 80px;
    margin: auto;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
  }
  
  .add-movies {
    text-align: center;
  }
  
  .add-movies button {
    font-size: 16px;
    padding: 8px;
    margin: 0 10px 30px 10px;
  }
  
  .movie {
    padding: 5px 25px 10px 25px;
    max-width: 25%;
  }
  
  .errorMessage {
    margin: auto;
    font-weight: bold;
    color: rgb(161, 15, 15);
  }
  
  .search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    color: white;
  }
  
  input[type="submit"] {
    padding: 5px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
  }
  
  .search > input[type="text"]{
    width: 40%;
    min-width: 170px;
  }
  
  @media screen and (min-width: 694px) and (max-width: 915px) {
    .movie {
      max-width: 33%;
    }
  }
  
  @media screen and (min-width: 652px) and (max-width: 693px) {
    .movie {
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 651px) {
    .movie {
      max-width: 100%;
      margin: auto;
    }
  }