.search {
    margin-top: 30px;
}

button {
    margin-left: 20px;
}

.input-field {
    color: white;
    width: 70% !important;
}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.486);
}

.search input:focus {
    border-bottom: 1px solid white !important;
}